<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngIf="!loading">
  <mat-card-content>
    <div class="alert alert-success" role="alert" *ngIf="success">
      Your Account successfully activated! please login
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="!success&&!loading">
      Something went wrong please write to info@neovision.am to help!
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="success">
    <button type="button" class="btn btn-success" (click)="login()">Log In</button>
  </mat-card-actions>
</mat-card>

