<div layout="row" layout-wrap style="max-width: 70%;margin: 0 auto; border: 5px solid black">
  <mat-card style="text-align: center">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Username" #username required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="firstName" #firstName required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="lastName" #lastName required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" #password required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm Password" #confirm_password required>
      </mat-form-field>
      <mat-error *ngIf="confirm_password.value !== password.value">
        <div class="alert alert-danger" >
          Passwords do not match.
        </div>
      </mat-error>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="email" placeholder="email" #email required  ngModel [email]="true">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <div class="row " style="padding-top: 10px;padding-bottom: 20px">
        <div class="col-4 col-md-4 custom-file fileInputProfileWrap">

          <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile"
                 id="phodoEditInput">
          <div class="img-space">

            <ng-container *ngIf="isImageSaved; else elseTemplate">
              <img [src]="cardImageBase64" />
            </ng-container>
            <ng-template #elseTemplate>

              <img src="../../../assets/images/profileDefault.webp" class="img-responsive">
            </ng-template>
            <span class="oi oi-pencil imageEditModeBackgroundSpan" ></span>
            <div  class="imageEditModeBackground" >

            </div>
          </div>


        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
    <button mat-stroked-button color="primary"
            (click)="register(username.value, firstName.value, lastName.value, password.value,confirm_password.value, email.value)">Register
    </button>
    </mat-card-actions>
  </mat-card>
</div>
