<h1 mat-dialog-title>Amortization</h1>
<div mat-dialog-content>

  <div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource">

      <!-- Payment Date Column -->
      <ng-container matColumnDef="Payment Date">
        <th mat-header-cell *matHeaderCellDef> Payment Date </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentDate}} </td>
      </ng-container>

      <!-- Payment Column -->
      <ng-container matColumnDef="Payment">
        <th mat-header-cell *matHeaderCellDef> Payment </th>
        <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
      </ng-container>

      <!-- Principal Column -->
      <ng-container matColumnDef="Principal">
        <th mat-header-cell *matHeaderCellDef> Principal </th>
        <td mat-cell *matCellDef="let element"> {{element.principal}} </td>
      </ng-container>

      <!-- Interest Column -->
      <ng-container matColumnDef="Interest">
        <th mat-header-cell *matHeaderCellDef> Interest </th>
        <td mat-cell *matCellDef="let element"> {{element.interest}} </td>
      </ng-container>

      <!-- Total Interest Column -->
      <ng-container matColumnDef="Total Interest">
        <th mat-header-cell *matHeaderCellDef> Total Interest </th>
        <td mat-cell *matCellDef="let element"> {{element.totalInterest}} </td>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="Balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!--
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    -->

  </div>
</div>
<div mat-dialog-actions>
  <button mat-button  (click)="onNoClick()">Ok</button>
</div>
