<mat-spinner *ngIf="!isReady" style="margin: 0 auto;"></mat-spinner>
<ng-container *ngIf="isReady">
  <mat-card-header>
    <button mat-stroked-button routerLink="../">Back</button>
  </mat-card-header>
  <table  style="text-align: center;width: 50%">
    <tr>
      <th mat-header-cell>username</th>
      <th mat-header-cell>first name</th>
      <th mat-header-cell>last name</th>
      <th mat-header-cell>authorities</th>
      <th mat-header-cell>mail</th>
      <th mat-header-cell>enabled</th>
      <th mat-header-cell></th>
    </tr>
    <tr *ngFor="let user of users">
      <td mat-cell>{{user.username}}</td>
      <td mat-cell>{{user.firstName}}</td>
      <td mat-cell>{{user.lastName}}</td>
      <td mat-cell>{{user.authorities}}</td>
      <td mat-cell>{{user.email}}</td>
      <td mat-cell>
          <mat-slide-toggle
            class="example-margin"
            color="accent"
            [checked]="user.enabled"
            [disabled]="!user.enabled"
          (change)="onEnableSlideTogleChange($event,user.id)">
          </mat-slide-toggle>
      </td>
      <td mat-cell><button mat-icon-button><i class="material-icons" (click)="editUser(user.id)">edit</i></button></td>
      <td mat-cell><button mat-icon-button><i class="material-icons" (click)="deleteUser(user.id)">delete</i></button></td>
    </tr>
  </table>
</ng-container>
