table {
  width: 100%;
}
.success{
  background-color: #7cff78;
}
.waiting{
  background-color: #fac27d;
}
.canceled{
  background-color: #ff5959;
}
.pencil{
  position: relative;
  top: 1px;
  display: inline-block;
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.pencil:before {
  content: '\e0a3';
}
.check{
  position: relative;
  top: 1px;
  display: inline-block;
  speak: none;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.check:before {
  content: '\e033';
}

button{
  margin: 5px;
}

td>div>input{
  max-width: 100px;
}
